<div class="border-top border-dark " style="margin-top: 3%;">
  <div class="container">
    <div class="row">
      <div class="mx-md-auto d-md-flex align-items-center justify-content-center"> <a href="#"><img
            src="../../assets/img/logoarriba.png" class='tenembalaje' width="30%" height="30%"> Me dijiste noseque
          aqui</a>
        <!--<i class="d-block fa fa-stop-circle fa-2x mr-md-5 text-primary"></i>-->
        <ul class="nav mx-md-auto d-flex justify-content-center">
          <li class="nav-item"> <a class="nav-link active text-dark" href="#">Inicio</a> </li>
          <li class="nav-item"> <a class="nav-link text-dark" (click)="productos()" onmouseover=""
              style="cursor: pointer;">Productos</a> </li>
          <li class="nav-item"> <a class="nav-link text-dark" (click)="contacto()" onmouseover=""
              style="cursor: pointer;">Contacto</a> </li>
        </ul>
        <div class="row">
          <div class="col-md-12 d-flex align-items-center justify-content-md-between justify-content-center my-2"> <a
              href="https://wa.me/+34722481607">
              <i class=" fa fa-whatsapp fa-lg mx-2 text-success"></i>
            </a> <a href="#">
              <i class="fa fa-instagram fa-fw fa-lg text-danger mx-2"></i>
            </a> <a href="#">
              <i class="fa fa-twitter  fa-lg text-primary mx-2"></i>
            </a> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mt-2 mb-0">© 2020-2021 Ten Embalaje.</p>
      </div>
    </div>
  </div>
</div>
