<app-header></app-header>
&nbsp;
<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
  <div class="py-5 text-center" style="background-image: url('');background-size:cover;   height: 666px;">

    <div  [ngClass]="{
      'animate__bounceOutLeft': goLogin
    }" class="container d-flex justify-content-center animate__animated animate__bounceInRight">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" role="button" (click)="login()">{{ 'LOGIN' | translate }}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/registro">{{ 'CREAR_CUENTA' | translate }}</a>
                    </li>

                  </ul>
            </div>
            <div class="card-body">
              <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
                <div class="form-group">
                  <label for="nombre">
                    {{ 'NAME' | translate }}</label>
                  <input type="text" name="nombre" id="nombre" class="form-control"
                  [(ngModel)]="nombre" required>
              </div>
                <div class="form-group">
                    <label for="nombreUsuario">
                      {{ 'USER_NAME' | translate }}</label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control"
                    [(ngModel)]="nombreUsuario" required>
                </div>
                <div class="form-group">
                    <label for="password">{{ 'PASSWORD' | translate }}</label>
                    <input type="password" name="password" id="password" class="form-control"
                    [(ngModel)]="password" required>
                </div>
                <div class="form-group">
                  <label for="email">
                    {{ 'EMAIL' | translate }}</label>
                  <input type="text" name="email" id="email" class="form-control"
                  [(ngModel)]="email" required>
              </div>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                        <i class="fas fa-sign-in-alt"></i> {{ 'CREAR_CUENTA' | translate }}</button>
                </div>
            </form>
            </div>
        </div>
    </div>
  </div>
</ng-template>
&nbsp;

<app-footer></app-footer>

