<app-header></app-header>
<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="form-group">
          <label for="nombreEng">Nombre Ingles</label>
          <input type="text" class="form-control" id="nombreEng" name="nombreEng" [(ngModel)]="nombreEng">
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="precio" required>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion">
        </div>
        <div class="form-group">
          <label for="descripcionEng">Descripción Ingles</label>
          <input type="text" class="form-control" id="descripcionEng" name="descripcionEng" [(ngModel)]="descripcionEng">
        </div>
        <!-- div class="form-group">
          <label for="tipo">tipo</label>
          <input type="text" class="form-control" id="tipo" name="tipo" [(ngModel)]="tipo">
        </div-->
          <!-- <label for="img">Imagen</label>
            <input type="file" class="form-control" id="img" name="img"
            [(ngModel)]="img"> -->

          <!---->
          <label class="text" for="imagen"><h4>Elige una imagen:</h4></label>
          <input type="file" class="text" id="imagen" #imagenInputFile (change)="onFileChange($event)"
            accept="image/png, image/jpeg, image/gif">

          <!---->


        <div *ngIf="imagen" class="mt-5">
          <h5>Vista Previa:</h5>
          <div>
            <img class="image-thumbnail" style="max-width: 100px" [src]="imagenMin">
          </div>
        </div>


        <div class="form-group">
          <div>
            <div class="mt-3">
              <label for="tipo"><h3>Tipo de producto:</h3></label>
            </div>
            <div *ngIf="isNewTipo" class="tipo">
              <input type="text" class="form-control" id="tipo" name="tipo" [(ngModel)]="tipo">
              <div>
                <label for="tipo">Tipo Ingles:</label>
              </div>
              <input type="text" class="form-control" id="tipoEng" name="tipoEng" [(ngModel)]="tipoEng">
              <label for="tipo">Descripcion:</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion">
              <label for="tipo">Descripcion Ingles:</label>
              <input type="text" class="form-control" id="descripcionEng" name="descripcionEng" [(ngModel)]="descripcionEng">
              <label class="text" for="imagen2"><h4>Elige una imagen para el tipo:</h4></label>
              <input type="file" class="text" id="imagen2" #imagenInputFile2 (change)="onFileChange2($event)"
                accept="image/png, image/jpeg, image/gif">
            </div>
            <div *ngIf="!isNewTipo">
              <select class="form-group" name="tipo" id="tipo" [(ngModel)]="tipo">
                <option [ngValue]="null" selected>Escoja un tipo de Producto</option>
                <option [ngValue]="tipo.tipo" *ngFor="let tipo of tipos">{{tipo.tipo}}</option>
              </select>
            </div>
            <div>¿Desea crear un nuevo tipo de producto?
              <input #isNewTipoCheckBox id="isNewTipoCheckBox" type="checkbox" [checked]="isNewTipo"
                (change)="onIsNewTipoChanged(isNewTipoCheckBox.checked)" />
            </div>
          </div>
        </div>

        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
      </form>
      <br>
      <button class="btn btn-outline-primary btn-block" style="margin-bottom: 9px;" routerLink="/product">
        <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
    </div>
  </div>
</div>





<app-footer></app-footer>
