<div class="row">
  <!--div class="form-group">
    <select class="form-control" name="tipo" id="tipo" [(ngModel)]="tipo" (change)="cambiarProductos()">
      <option [ngValue]="null" selected>Escoja un tipo de Producto</option>
      <option [ngValue]="tipo" *ngFor="let tipo of tipos">{{tipo.tipo}}</option>
    </select>
  </div-->

  <div class="animate__animated animate__fadeIn mt-3">

    <button type="button" class="target btn btn-light " style="margin: 9px;"
    (click)="loadProducts()">Todos</button>

    <button type="button" class="target btn btn-light " style="margin: 9px;" *ngFor="let tipo of tipos"
      (click)="cambiarProductos2(tipo)">{{tipo.tipo}}</button>
  </div>


  <div *ngIf="isAdmin" class="text-center">
    <a class="btn btn-success text-white btn-lg" (click)="crear()">Crear producto</a>
  </div>

    <div class="col-md-4" *ngFor='let product of products'>
      <app-product [product]="product"></app-product>
    </div>



</div>
