<div class="row">
  <!--div class="form-group">
    <select class="form-control" name="tipo" id="tipo" [(ngModel)]="tipo" (change)="cambiarProductos()">
      <option [ngValue]="null" selected>Escoja un tipo de Producto</option>
      <option [ngValue]="tipo" *ngFor="let tipo of tipos">{{tipo.tipo}}</option>
    </select>
  </div-->

  <div class="animate__animated animate__fadeIn">
     <button type="button" class="btn btn-light" style="margin: 9px;" *ngFor="let tipo of tipos"  (click)="cambiarProductos2(tipo)">{{tipo.tipo}}</button>
  </div>


  <div *ngIf="isAdmin">
    <a class="btn btn-primary text-white btn-lg" (click)="crear()">Crear producto</a>
  </div>

  <div class="col-md-6" *ngFor='let product of products'>
    <app-product [product]="product"></app-product>
  </div>
</div>
