
.btn.btn-light:focus {
  color: #fff;
  background-color: #265326;
  border-color: #fcfdfc;
  outline: none;
}

.btn-success {
  color: #fff;
  background-color: #265326;
  border-color: #fcfdfc;
  outline: none;
}

.seccion {
  border-color: #265326;
  border-width: 1px;
  border-style: solid;
  border-radius: 33px;
  padding: 3%;
  margin-top: 3%;
}
