<div class="card text-center mt-3 animate__animated animate__fadeIn" style="margin-bottom: 3;  animation-duration: 2s;">
  <img [src]="product.img"
  class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{product.nombre}}</h5>
    <p class="card-text">{{product.descripcion}}</p>
    <p class="card-text">Precio: {{product.precio}} €</p>
   <button class="btn btn-success btn-sm" style="margin: 6px;" (click)="addToCart()">
    <i class="fa fa-shopping-cart"></i>
      Añadir al carrito</button>
	<button class="btn btn-success btn-sm" style="margin: 6px;">
    <i class="fa fa-eye"></i>
      Ver</button>
  </div>
</div>
