<div class="card text-center mt-3 animate__animated animate__fadeIn" style="margin-bottom: 3;  animation-duration: 2s;">
  <img [src]="product.img"
  class="card-img-top" alt="">
  <div class="card-body">
    <h5 *ngIf="langEs" class="card-title">{{product.nombre}}</h5>
    <h5 *ngIf="langEn" class="card-title">{{product.nombreEng}}</h5>
    <p *ngIf="langEs" class="card-text">{{product.descripcion}}</p>
    <p *ngIf="langEn" class="card-text">{{product.descripcionEng}}</p>
    <p *ngIf="langEs" class="card-text">
      {{ 'PRECIO' | translate }}: {{product.precio}} €</p>
    <p *ngIf="langEn" class="card-text">
      {{ 'PRECIO' | translate }}: {{product.precio}} €</p>
   <button *ngIf="isUser" class="btn btn-success btn-sm" style="margin: 6px;" (click)="addToCart()">
    <i  class="fa fa-shopping-cart"></i>
    {{ 'ADD' | translate }}</button>
      <button *ngIf="!isUser" class="btn btn-success btn-sm" style="margin: 6px;" routerLink="/registro">
        <i  class="fa fa-shopping-cart"></i>
        {{ 'ADD' | translate }}</button>
	<button class="btn btn-success btn-sm" style="margin: 6px;">
    <i class="fa fa-eye"></i>
    {{ 'VER' | translate }}</button>
  </div>
</div>


<!-- Product 2

<div class="wrapper">
  <div class="container">
    <div class="top"><img [src]="product.img"
      class="card-img-top" alt="" style="height:100%;">
    </div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <h1>Chair</h1>
          <p>£250</p>
        </div>
        <div class="buy"><i class="material-icons">add_shopping_cart</i></div>
      </div>
      <div class="right">
        <div class="done"><i class="material-icons">done</i></div>
        <div class="details">
          <h1>Chair</h1>
          <p>Added to your cart</p>
        </div>
        <div class="remove"><i class="material-icons">clear</i></div>
      </div>
    </div>
  </div>
  <div class="inside">
    <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
    <div class="contents">
     {{product.descripcion}}
    </div>
  </div>
</div>
-->
