<div class="text-center mt-5 d-flex justify-content-around">

    <div class="row " >
      <div class="col-md-6 mx-auto marco  mb-3 " *ngFor="let tipo of tipos">
        <!--
        <img class="img-fluid d-block mx-auto marcoImg " [src]="tipo.img" width="100%">
        <h1 *ngIf='langEs' class="mb-3">{{tipo.tipo}}</h1>
        <h1 *ngIf='langEn' class="mb-3">{{tipo.tipoEng}}</h1>
        <h5 *ngIf='langEs'class="lead mt-3">{{tipo.descripcion}}</h5>
        <h5 *ngIf='langEn'class="lead">{{tipo.descripcionEng}}</h5>
        <button *ngIf='langEs' class="btn btn-success text-white btn-lg" [routerLink] = "['/product', tipo.tipo]" > Ir a {{tipo.tipo}}</button>
        <button *ngIf='langEn' class="btn btn-success text-white btn-lg" [routerLink] = "['/product', tipo.tipo]"> Go to {{tipo.tipo}}</button>

-->

<figure class="image-block">
<!--	<h1>{{tipo.tipo}}</h1>-->
	<img [src]="tipo.img" alt="" />
	<figcaption>
		<h3>
      {{tipo.tipo}}
		</h3>
		<p>{{tipo.descripcion}}</p>
		<button  class="btn btn-success text-white btn-lg" [routerLink] = "['/product', tipo.tipo]">
			Ir a {{tipo.tipo}}
		</button>
	</figcaption>
</figure>

    <!-- No borrar-->
  </div>
</div>

</div>
